{% extends 'base.html' %}
{% block content %}
    {% if error is defined %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Warning</strong> {{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
    <h2 class = 'text-center'>Extract opinions</h2>
    <form class = 'container' method = "POST" action = "{{url_for('extract')}}">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Product code</label>
            </div>
            <div class="col-auto">
                <input type="text" name="product_id" class="form-control" aria-describedby="passwordHelpInline" placeholder="Enter product code" required>
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">Product must be 5-10 digits long.</span>
            </div>
            <div>
                <button type = "submit" class = 'btn btn-warning'>Extract</button>
            </div>
        </div>
    </form>
{% endblock %}