{% extends 'base.html' %}
{% block content %}
<main class="container mb-4">
    <section class="index1 mb-4">
        <h2>About This Project</h2>
        <p>The Ceneo.pl Web Scraper is designed to extract and list product opinions from the Ceneo.pl website. The application utilizes various Python libraries to perform web scraping and data analysis.</p>
        <h3>Purpose of the Application</h3>
        <p>This application aims to provide users with a convenient way to gather and analyze product opinions from Ceneo.pl, helping them make informed purchasing decisions.</p>
        <h3>Application's Operation</h3>
        <p>The application works by scraping product opinions from the Ceneo.pl website and presenting them in a user-friendly format. Users can extract opinions for specific products and view a list of all products for which opinions have been extracted.</p>
        <h3>Libraries Used</h3>
        <ul>
            <li>BeautifulSoup</li>
            <li>Requests</li>
            <li>Pandas</li>
            <li>Flask</li>
        </ul>
        <h3>Applied Approaches</h3>
        <p>The application employs web scraping techniques, data cleaning, and visualization to present the extracted opinions effectively.</p>
    </section>
</main>
{% endblock %}